* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'sans-serif';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body {
    margin: 0;
    outline: 0;
    border: 0;
    padding: 0;
    display: block;
    background-size: 100% 100%;
    height: 100vh;
}

.textbox-readonly {
    background-color: lightgray;
}

.page-container {
    margin: 0;
    outline: 0;
    border: 0;
    padding: 0;
    display: block;
    border-color: #100000;
    background-color: #100000;
    background-size: 100% 100%;
    height: 100vh;
}

.page-container h1 {
    font-weight: 500;
    font-size: 1.25em;
}

.page-container h2 {
    font-weight: 400;
    font-size: 1.15em;
}

.page-container h3 {
    font-weight: 300;
    font-size: 1.075em;
}

.page-container .head-container {
    border-color: #350000;
    background-color: #350000;
    color: white;
    padding: 10px 30px 10px 30px;
}

.page-container .path-container {
    min-width: 100%;
    display: flex;
    position: relative;
    flex-flow: row wrap;
    background-color: #200000;
}

.page-container .path-container .api-paths {
    color: white;
    padding: 5px 10px 5px 10px;
    background-color: #200000;
    display: inline-flex;
    flex-flow: column wrap;
    position: relative;
    width: 100%;
    flex: 1 0 30%;
    max-width: 30%;
}

.page-container .path-container .api-paths .api-path-endpoint-container {
    border-color: white;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 10px;
}

.page-container .path-container .api-paths .api-path-endpoint-container .api-path-endpoint-group {
    padding-left: 25px;
    padding-bottom: 10px;
    padding-top: 5px;
    font-size: 1.15em;
    font-weight: 600;
    margin: 0;
}

.page-container .path-container .api-paths .api-path-endpoint-container .api-path-endpoint-group-endpoints .api-path-endpoint-group-endpoints-container {
    margin: 5px;
    padding: 0;
}

.page-container .path-container .endpoint-sample {
    color: white;
    padding: 5px 10px 5px 10px;
    border-color: #100000;
    border-width: 1px;
    background-color: #423535;
    display: inline-flex;
    flex-flow: column wrap;
    position: relative;
    width: 100%;
    flex: 1 0 26%;
    max-width: 26%;
}

.page-container .path-container .endpoint-response {
    color: white;
    padding: 5px 10px 5px 10px;
    border-color: #100000;
    border-width: 1px;
    background-color: #000000;
    display: inline-flex;
    flex-flow: column wrap;
    position: relative;
    width: 100%;
    flex: 1 0 44%;
    max-width: 44%;
}

.page-container .path-container .endpoint-sample .request_box{
    width: 100%;
    height: 450px;
}

.page-container .path-container .endpoint-sample .request_selected_media_container {
    min-width: 100%;
    display: flex;
    position: relative;
    flex-flow: row wrap;
}

.page-container .path-container .endpoint-sample .request_selected_media_container .request_selected_media {
    display: inline-flex;
    flex-flow: column wrap;
    position: relative;
    width: 100%;
    flex: 1 0 60%;
    max-width: 60%;
}

.page-container .path-container .endpoint-sample .request_selected_media_container .request_selected_media label {
    width: 100%;
}

.page-container .path-container .endpoint-sample .request_selected_media_container .request_selected_media select {
    width: 70%;
    min-width: 170px;
}

.page-container .path-container .endpoint-sample .request_selected_media_container .request_selected_media_reload_sample {
    display: inline-flex;
    flex-flow: column wrap;
    position: relative;
    width: 100%;
    flex: 1 0 40%;
    max-width: 40%;
    text-align: right;
    vertical-align: bottom;
}

.page-container .path-container .endpoint-sample .request_selected_media_container .request_selected_media_reload_sample button {
   position: absolute;
    right:    0;
    bottom:   0;
}